canvas {
  border: 1px solid #ccc;
}

.toolbar button {
  margin: 5px;
}

.diagram-wrap {
  position: relative;
}

.base-diagram {
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
